label{
    cursor: pointer;
}

.pb-video-container {
    padding-top: 20px;
    background: #bdc3c7;
}

.pb-video {
    border: 1px solid #e6e6e6;
    padding: 5px;
}

.pb-video:hover {
    background: #2c3e50;
}

.pb-video-frame {
    transition: width 2s, height 2s;
}

.pb-row {
    margin-bottom: 10px;
}